@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --font-style: 'Outfit';
    --font-size: 0.938;
    --fw-light: 400;
    --fw-bold: 700;

    --clr-babyblue: hsl(212, 45%, 89%);
    --clr-caption:  hsl(216, 15%, 48%);
    --clr-title: hsl(218, 44%, 22%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  html, body{
    height: 100%;
    background-color: var(--clr-babyblue);
    font-family: var(--font-style);
    font-size: var(--font-size);
    display: grid;
    place-content: center;
  }
  article * {
    margin: 0.5rem;
  }
  .QRcode-card {
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 8px 4px rgba(106, 106, 202, 0.2);
    max-width: 320px;
  }
  .QRcode-card__QR-image {
    place-self: center;
    border-radius: 1rem;
    margin: 0;
  }
  .QRcode-card__title {
    color: var(--clr-title);
    font-weight: var(--fw-bold);
  }
  .QRcode-card__caption {
    color: var(--clr-caption);
    font-weight: var(--fw-light);
  }
